body {
  height: auto;
  max-width: 100vw;
  max-height: 1000vh;
  overflow: scroll;
  overflow-x: hidden;
  cursor: none;
}

/* .noise {
  position: fixed;
} */

.realizacje-wrapper {
  position: absolute;
  top: 0;
}

.verso-close {
  z-index: 99999999999;
  background-color: rgba(0, 0, 0, 0);
}

.description > * {
  padding-left: 5vw;
}

/* Project details */

.pictures-description_container {
  margin-top: 15vh;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  overflow-x: hidden;
}

.main-title {
  position: relative;
  padding-left: 5vw;
  padding-top: 5%;
  margin-bottom: 5%;
  font-size: calc(20px + (26 - 20) * ((100vw - 320px) / 760));
  font-weight: 300;
  background-color: rgba(0, 0, 0, 0);
}

.picture-description {
  background-color: rgba(0, 0, 0, 0);
}

.description {
  position: relative;
  font-weight: 300;
  font-size: calc(14px + (18 - 14) * ((100vw - 320px) / 760));
  background-color: rgba(0, 0, 0, 0);
}
@media (min-width: 520px) {
  .description > * {
    width: 100%;
    padding-left: 15vw;
  }
  .main-title {
    padding-left: 15vw;
  }
}

@media (min-width: 1024px) {
  .description {
    display: flex;
    flex-wrap: wrap;
  }
  .description > * {
    width: 40%;
    padding-left: 15vw;
  }
  .main-title {
    position: relative;
    padding-left: 12vw;
  }
}

.description span {
  display: inline-block;
  font-weight: 500;
}

.description > div {
  margin-bottom: 5%;
  text-indent: 0vw;
}

.description > div > span {
  text-indent: 0vw;
}

nav {
  width: 100vw;
}

.pictures img,
.pictures a {
  position: relative;
  max-width: 90vw;
  max-height: 80vh;
  margin-bottom: 15vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9996;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.3);
}

@media (max-width: 1023px) {
  .oprawa {
    margin-top: -10vh;
  }
}

@media (min-width: 1024px) {
  .pictures img,
  .pictures a {
    max-width: 75vw;
  }
  .pictures img:nth-of-type(n) {
    /* margin-left: 20vw;
    margin-right: 0; */
    left: 55%;
  }
  .pictures img:nth-of-type(2n) {
    /* margin-right: 14vw;
    margin-left: 5vw; */
    left: 45%;
  }
}

@media (min-width: 1600px) {
  .description > div {
    margin-bottom: 3%;
    text-indent: 0vw;
  }
    .pictures img:nth-of-type(1) {
      margin-top: 5vh;
  }
}

.oprawa {
  position: relative;
  text-align: left;
  bottom: 2vh;
  min-height: 6vh;
  background-color: rgba(0, 0, 0, 0);
  
}

.case_study {
  margin-bottom: 5vh;
}

.case_study img {
  position: relative;
  width: 90vw;
  margin-left: 5vw;
  margin-top: 3vh;
  margin-bottom: 5vh;
}

.case_study span {
  display: inline-block;
  width: 90vw;
  padding-top: 3vh;
  margin-left: 5%;
  font-size: calc(20px + (26 - 20) * ((100vw - 320px) / 760));
  text-transform: uppercase;
  font-weight: 500;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(0, 0, 0, 0);
}

.case_study p {
  margin: 5%;
  margin-left: 10%;
  text-indent: 5vw;
  font-weight: 300;
  font-size: calc(14px + (18 - 14) * ((100vw - 320px) / 760));
}

/* Button ? */

.realizacja_btn a {
  text-decoration: none;
}

.realizacja_btn {
  width: 100vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  background-color: #28323b;
  padding: 1%;
  width: 70vw;
  font-size: calc(16px + (26 - 16) * ((100vw - 320px) / 760));
  z-index: 999;
}

.realizacja_btn p {
  color: #eee;
  line-height: 2;
  text-align: center;
  font-weight: 300;
}
.about_us-info {
  max-width: 100vw;
  overflow: hidden;
}
