#c {
  display: block;
  width: 100vw;
  height: 100vh;
  position: absolute;
}

/* .form-close {
  position: relative;
  margin-top: -11vh;
  margin-left: 85vw;
} */
/* .top-nav {
  position: relative;
  margin-top: -15vh;
} */
.wrapper {
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background-color: #28323b;
  font-family: "Roboto", sans-serif;
  z-index: 1;
}
.form-wrapper {
  position: relative;
  /* top: 20vh; */
  top: calc(8vh + 60px);
  color: #eee;
  padding-left: 6%;
  /* background-color: red; */
}

/* form {
  margin-top: 4vh;
  background-color: red;
} */

label {
  position: relative;
  font-size: calc(14px + (26 - 14) * ((100vw - 320px) / 760));
  letter-spacing: 0.5px;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 300;
}

input,
textarea {
  position: relative;
  width: 90%;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  font-family: "Roboto", sans-serif;
  margin-top: 1vh;
  margin-bottom: 2vh;
  color: #eee;
  font-weight: 500;
  font-size: calc(20px + (18 - 20) * ((100vw - 320px) / 760));
}
textarea {
  resize: none;
  height: 25px;
}
.noLine {
  border-bottom: none;
}
.line {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
input:focus,
textarea:focus {
  outline: none;
  background-color: transparent;
  color: #eee;
  border-bottom: none;
}
.form-accept {
  position: relative;
  top: 5vh;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.form-accept input {
  display: block;
  position: absolute;
  height: 0;
  width: 0;
  opacity: 0;
  cursor: pointer;
}
.checkmark {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0vw;
  display: block;
  height: 3vh;
  width: 3vh;
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  cursor: pointer;
  z-index: 99999;
}
.checkmark_white {
  background-color: #eee;
}
.form-accept p {
  position: relative;
  width: 70vw;
  left: 55vw;
  color: rgba(255, 255, 255, 0.7);
  margin-left: -48%;
  margin-right: 5%;
  font-size: calc(14px + (26 - 14) * ((100vw - 320px) / 760));
  letter-spacing: 0.5px;
  font-weight: 300;
}
.form-send_btn {
  min-width: 100vw;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -14vh;
  padding-bottom: 5vh;
}
input.form-btn {
  position: relative;
  width: auto;
  left: 50%;
  transform: translateX(-50%);
  font-size: calc(18px + (26 - 18) * ((100vw - 320px) / 760));
  border-bottom: 0;
  color: #eee;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  cursor: pointer;
}
input.form-btn:hover {
  font-weight: 500;
}

@media (min-width: 320px) and (orientation: portrait) {
  .form-send_btn {
    bottom: -23vh;
  }
}
@media (min-width: 533px) and (orientation: landscape) {
  .form-wrapper {
    top: 17vh;
    padding-left: 10%;
    padding-bottom: 25vh;
  }
  label {
    position: relative;
    font-size: calc(8px + (26 - 8) * ((100vw - 320px) / 760));
  }
  input,
  textarea {
    position: relative;
    width: 90%;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    font-family: "Roboto", sans-serif;
    margin-top: 1vh;
    margin-bottom: 1vh;
    color: #eee;
    font-weight: 500;
    font-size: calc(12px + (26 - 12) * ((100vw - 320px) / 760));
  }
  .form-accept {
    position: relative;
    top: 3vh;
    padding: 0%;
  }
  .checkmark {
    height: 4vh;
    width: 4vh;
  }
  .form-accept p {
    position: relative;
    width: 75vw;
    left: 45vw;
    margin-left: -45%;
    font-size: calc(8px + (26 - 8) * ((100vw - 320px) / 760));
  }

  input.form-btn {
    top: 0vh;
    padding: 10vh 0;
  }
}

/*INPUT TYPE="NUMBER"*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
