body {
  background-color: #28323b;
}
#c {
  display: block;
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.wrapper {
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background-color: #28323b;
  font-family: "Roboto", sans-serif;
  /* z-index: 1; */
  cursor: none;
}

.contact-wrapper {
  background-color: #28323b;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}

.contact-content {
  position: absolute;
  /* z-index: 2; */
}

.contact_brand-name {
  position: absolute;
  top: 10vh;
  left: 5vw;
  /* z-index: 2; */
}

.contact-authors {
  position: absolute;
  top: 10vh;
  margin-left: 5vw;
  margin-top: 8vh;
}

.contact-authors p {
  line-height: 2;
  margin-top: 5%;
  font-weight: 300;
  font-size: var(--font-size-7);
}

.contact-authors a,
.contact-authors span {
  text-decoration: none;
  color: #eee;
  font-weight: 500;
  font-size: var(--font-size-3);
  cursor: none;
}

.contact-data {
  position: absolute;
  top: 70vh;
  width: 90vw;
  font-size: var(--font-size-7);
  font-weight: 100;
  text-decoration: none;
  margin-left: 5vw;
  margin-top: 8vh;
  z-index: 9996;
}
@media (max-width: 1022px) {
  .contact-data {
    display: none;
  }
}
@media (min-width: 1023px) {
  .contact-authors {
    margin-left: 15vw;
    z-index: 9996;
  }
  .contact-data {
    margin-left: 15vw;
  }
}
