body {
  height: auto;
  max-height: 1000vh;
  overflow: scroll;
}

.noise {
  position: fixed;
}
.verso-hamburger {
  display: block;
}
.projekty_container {
  position: relative;
  top: 15vh;
  height: auto;
  overflow: scroll;
  left: 0;
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
  background-color: rgba(0, 0, 0, 0);
}

.projekty-links {
  position: relative;
  width: 100%;
  padding: 5%;
  background-color: rgba(0, 0, 0, 0);
}

.projekty-links span {
  font-size: calc(20px + (26 - 20) * ((100vw - 320px) / 760));
  font-weight: 300;
  background-color: rgba(0, 0, 0, 0);
}

.projekty-links a {
  display: inline-block;
  color: #eee;
  text-decoration: none;
  font-size: calc(14px + (18 - 14) * ((100vw - 320px) / 760));
  margin-top: 5%;
  margin-left: 5%;
  font-weight: 300;
}
.projekty-links a.active {
  font-weight: 500;
}

.projekty-links a:active,
.projekty-links a:hover {
  font-weight: 500;
}

/* Gallery */

.gallery {
  background-color: rgba(0, 0, 0, 0);
}

.gallery img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  max-width: 90vw;
  max-height: 90vh;
  margin-top: 3vh;
  z-index: 991;
  background-color: rgba(0, 0, 0, 0.2); /*!*/
}

.gallery-description {
  position: relative;
  width: 90vw;
  padding-top: 5%;
  padding-bottom: 5%;
}

.gallery-description p {
  text-align: right;
  font-size: calc(14px + (18 - 14) * ((100vw - 320px) / 760));
  font-weight: 500;
}

.gallery-description p span {
  font-weight: 300;
}

.gallery-btn {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  max-width: 70vw;
  text-align: center;
  padding: 4%;
  background-color: #444;
  color: rgba(255, 255, 255, 0.8);
  font-size: calc(14px + (18 - 14) * ((100vw - 320px) / 760));
  font-weight: 300;
  z-index: 991;
  margin-top: 3vh;
  margin-bottom: 7vh;
}

.gallery-swiper p {
  font-size: calc(14px + (18 - 14) * ((100vw - 320px) / 760));
  margin-left: 5%;
  margin-top: 3vh;
}

.swiper-container {
  width: 100%;
  height: 100%;
  z-index: 991;
}

/* .swiper-slide {
  text-align: center;
  font-size: 18px;
  max-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
} */

.swiper-slide img {
  margin-right: 10%;
}
