body {
  height: auto;
  max-width: 100vw;
  max-height: 1000vh;
  overflow: scroll;
  overflow-x: hidden;
}
.noise {
  position: fixed;
}
.verso-close {
  z-index: 99999999999;
}
/* description */
.picture-description {
  position: relative;
}
.main-title {
  position: relative;
  padding: 10% 0;
  font-size: calc(22px + (18 - 22) * ((100vw - 320px) / 760));
  font-weight: 500;
  margin-left: 5%;
}
.picture-description .details {
  font-size: calc(20px + (18 - 20) * ((100vw - 320px) / 760));
  margin-left: 5%;
}
.description {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-wrap: wrap;
  width: 90vw;
  font-weight: 300;
  font-size: calc(14px + (18 - 14) * ((100vw - 320px) / 760));
}
.description span {
  display: inline-block;
  font-weight: 500;
}
.description > div {
  margin: 5%;
  width: 40%;
  text-indent: -5%;
}

.description > div > span {
  text-indent: 0%;
}
div.autorzy {
  width: 70%;
}
div.autorzy span {
  margin-left: 3%;
}

.pictures {
  display: flex;
  flex-direction: column;
}
.pictures img,
.case_study img,
.pictures a {
  position: relative;
  width: 95vw;
  margin: 2% auto;
  z-index: 999999;
}
.case_study span {
  display: inline-block;
  margin: 5%;
  margin-left: 5%;
  font-size: calc(22px + (18 - 22) * ((100vw - 320px) / 760));
  text-transform: uppercase;
  font-weight: 500;
}
.case_study p {
  margin: 5%;
  text-indent: 8%;
  font-weight: 300;
  font-size: calc(14px + (18 - 14) * ((100vw - 320px) / 760));
}
/* realizacja button */
a {
  text-decoration: none;
}
.realizacja_btn {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  background-color: #28323b;
  padding: 1%;
  width: 70vw;
  font-size: calc(16px + (26 - 16) * ((100vw - 320px) / 760));
  z-index: 999;
}

.realizacja_btn p {
  color: #eee;
  line-height: 2;
  text-align: center;
  font-weight: 300;
}
/* info */
.about_us-info span {
  display: inline-block;
  max-width: 100vw;
  font-weight: bold;
  margin-top: 5%;
  margin-left: 5%;
  text-align: left;
  margin-bottom: 5%;
}
/* strzałka */
.verso-arrow-up {
  position: absolute;
  width: 10vh;
  max-width: 40px;
  min-width: 35px;
  right: 6%;
  margin-top: 4%;
}

.verso-arrow-up .container {
  position: relative;
  width: 10vh;
  max-width: 40px;
  min-width: 35px;
  height: 10vh;
  max-height: 40px;
  min-height: 35px;
}

.verso-arrow-up .container:hover {
  cursor: pointer;
}

.verso-arrow-up .container .background {
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  height: 100%;
}

.verso-arrow-up .container .line-1 {
  position: absolute;
  background-color: rgba(255, 255, 255, 1);
  width: 10%;
  height: 85%;
  top: 10%;
  right: 45%;
  transition: 0.2s;
}

.verso-arrow-up .container:hover .line-1 {
  height: 55%;
}

.verso-arrow-up .container .line-2 {
  position: absolute;
  background-color: rgba(255, 255, 255, 1);
  width: 10%;
  height: 50%;
  top: 0%;
  right: 59.5%;
  transform: rotate(45deg);
  transition: 0.2s;
}

.verso-arrow-up .container .line-3 {
  position: absolute;
  background-color: rgba(255, 255, 255, 1);
  width: 10%;
  height: 50%;
  top: 0%;
  right: 30.5%;
  transform: rotate(-45deg);
  transition: 0.2s;
}
@media (min-width: 533px) and (orientation: landscape) {
  .main-title {
    position: relative;
  }
  .verso-close {
    margin-top: 6%;
  }
  .description > div {
    margin: 3%;
  }
  .realizacja_btn {
    width: 40vw;
    padding: 0%;
    font-size: calc(14px + (26 - 14) * ((100vw - 320px) / 760));
  }
}
@media (min-width: 640px) and (orientation: landscape) {
  .main-title {
    position: relative;
    padding: 8% 0;
  }
}
@media (min-width: 700px) {
  .realizacja_btn {
    width: 40vw;
    padding: 2%;
  }
}

@media (min-width: 730px) and (orientation: landscape) {
  .main-title {
    padding-bottom: 5%;
  }
  .main-title,
  .picture-description .details,
  .case_study span {
    font-size: calc(26px + (20 - 26) * ((100vw - 320px) / 760));
  }
}
@media (min-width: 768px) and (orientation: portrait) {
  .main-title {
    padding: 10% 0;
    padding-bottom: 6%;
    font-size: calc(26px + (18 - 26) * ((100vw - 320px) / 760));
  }
  .verso-close {
    margin-top: 6%;
  }
}
@media (min-width: 1024px) {
  .main-title,
  .picture-description .details,
  .case_study span {
    font-size: calc(26px + (30 - 26) * ((100vw - 320px) / 760));
  }
  .case_study span {
    margin-bottom: 0;
  }
  .main-title {
    padding: 5% 0;
  }
  .verso-close {
    margin-top: 4%;
  }
  .realizacja_btn {
    width: 30vw;
    padding: 1%;
  }
}
