body {
  height: auto;
  max-width: 100vw;
  max-height: 1000vh;
  overflow: scroll;
  overflow-x: hidden;
}

.noise {
  position: fixed;
}

.verso-close {
  margin-top: calc(-7vh + 1px);
  background-color: rgba(0, 0, 0, 0);
}

/* Project details */

.pictures-description_container {
  margin-top: 10vh; /* ! */
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  top: 5vh;
  overflow-x: hidden;
}

.main-title {
  position: relative;
  padding-left: 5vw;
  padding-top: 5%;
  margin-bottom: 5%;
  font-size: calc(20px + (26 - 20) * ((100vw - 320px) / 760));
  font-weight: 300;
  background-color: rgba(0, 0, 0, 0);
}

.picture-description {
  margin-bottom: 5vh;
  background-color: rgba(0, 0, 0, 0);
}

.description {
  position: relative;
  /* display: flex;
  flex-wrap: wrap; */
  /* width: 90vw; */
  font-weight: 300;
  font-size: calc(14px + (18 - 14) * ((100vw - 320px) / 760));
}

.description span {
  display: inline-block;
  font-weight: 500;
}

.description > div {
  margin-left: 10vw;
  margin-bottom: 5%;
  text-indent: 0vw;
}

.description > div > span {
  text-indent: 0vw;
}


.pictures img,
.pictures a {
  position: relative;
  width: 90vw;
  margin-left: 5vw;
  margin-bottom: 5vh;
  z-index: 9999;
}

.oprawa {
  text-align: right;
  margin-right: 5vw;
}

.case_study {
  margin-bottom: 5vh;
}

.case_study img {
  position: relative;
  width: 90vw;
  margin-left: 5vw;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.case_study span {
  display: inline-block;
  width: 90vw;
  padding-top: 5vh;
  /* padding-left: 5vw; */
  margin-top: 2vh;
  margin-left: 5%;
  font-size: calc(20px + (26 - 20) * ((100vw - 320px) / 760));
  text-transform: uppercase;
  font-weight: 500;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.case_study p {
  margin: 5%;
  margin-left: 10%;
  text-indent: 8%;
  font-weight: 300;
  font-size: calc(14px + (18 - 14) * ((100vw - 320px) / 760));
}

/* Button ? */

.realizacja_btn a {
  text-decoration: none;
}

.realizacja_btn {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  background-color: #28323b;
  padding: 1%;
  width: 70vw;
  font-size: calc(16px + (26 - 16) * ((100vw - 320px) / 760));
  z-index: 999;
}

.realizacja_btn p {
  color: #eee;
  line-height: 2;
  text-align: center;
  font-weight: 300;
}