:root {
  --base-width: none;
  --colour-white: rgba(255, 255, 255, 1);
  --colour-grey: rgba(155, 155, 155, 1);
  --colour-black: rgba(0, 0, 0, 1);
  --colour-blue-a: rgba(40, 50, 59, 1);
  --colour-blue-b: rgba(51, 65, 78, 1);
  --colour-white-t030: rgba(255, 255, 255, 0.3);
  --font-size-1: calc(16px + (26 - 16) * ((100vw - 320px) / 760)); /*  slogan */
  --font-size-2: calc(18px + (22 - 18) * ((100vw - 320px) / 760));
  --font-size-3: calc(19px + (22 - 19) * ((100vw - 320px) / 760));
  --font-size-4: calc(20px + (22 - 20) * ((100vw - 320px) / 760));
  --font-size-5: calc(24px + (26 - 24) * ((100vw - 320px) / 760));
  --font-size-6: calc(14px + (18 - 14) * ((100vw - 320px) / 760));
}

::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  font-family: "Roboto", sans-serif;
  color: rgba(0, 0, 0, 1);
  font-size: 10px;
}

body {
  width: 100vw;
  max-height: 100vh;
  overflow: hidden;
  background: #333;
  color: #eee;
  font-family: "Roboto", sans-serif;
  -webkit-tap-highlight-color: transparent;
}
video {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  /* z-index: 9999999; */
}
.home {
  /* background-image: url(../content/grupaVERSO-header.webp); */
  /* background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
}

.noise {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: auto;
  pointer-events: none;
  opacity: 0.05;
}

#c {
  display: block;
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.top-nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 4vh;
  width: 80vw;
  height: 10vh;
  background-color: rgba(0, 0, 0, 0);
}

/* Logo */

.brand-name {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: calc(22px + (28 - 22) * ((100vw - 320px) / 760));
}

.brand-name img {
  height: 100%;
}

/* Hamburger */

.verso-hamburger {
  position: absolute;
  width: 10vh;
  max-width: 40px;
  min-width: 35px;
  height: 10vh;
  margin-top: calc(4vh + 8px);
  right: 10%;
}
@media (min-width: 1024px) {
  .verso-hamburger {
    display: none;
  }
}
.verso-hamburger .container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 10vh;
  max-width: 40px;
  min-width: 35px;
  height: 10vh;
  max-height: 40px;
  min-height: 35px;
}

.verso-hamburger .container:hover {
  cursor: pointer;
}

.verso-hamburger .container .background {
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  height: 100%;
}

.verso-hamburger .container .bar-1 {
  position: absolute;
  background-color: rgba(255, 255, 255, 1);
  width: 90%;
  height: 10%;
  top: 5%;
  right: 5%;
  transition: 0.2s;
}

.verso-hamburger .container .bar-2 {
  position: absolute;
  background-color: rgba(255, 255, 255, 1);
  width: 50%;
  height: 10%;
  top: 30%;
  right: 5%;
  transition: 0.2s;
}

.verso-hamburger .container:hover .bar-2 {
  width: 90%;
}

.hamburger i {
  position: relative;
  cursor: pointer;
}

/* Slogan */

.slogan {
  position: absolute;
  width: 80vw;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 15vh;
  cursor: context-menu;
  font-size: calc(16px + (26 - 16) * ((100vw - 320px) / 760));
  font-weight: 300;
  text-align: left;
  background-color: rgba(0, 0, 0, 0);
  color: #eee;
  white-space: nowrap;
}

.forwho {
  position: absolute;
  right: auto;
  left: 0;
  margin: auto;
  top: calc(26px + (28 - 16) * ((100vw - 320px) / 760));
  text-align: left;
  background-color: rgba(0, 0, 0, 0);
  font-weight: 500;
  letter-spacing: 1px;
}

.typewriter {
  color: #eee;
  text-decoration: none;
  cursor: default;
}

/* Projekty button */

.gtpbtn {
  position: absolute;
  height: 10vh;
  /* font-size: calc(16px + (26 - 16) * ((100vw - 320px) / 760)); */ /* ! */
  font-size: calc(18px + (22 - 18) * ((100vw - 320px) / 760));
  font-weight: 300;
  background-color: rgba(0, 0, 0, 0);
  text-align: right;
  /* bottom: calc(8vh + 80px); */
  bottom: calc(6vh + 80px);
  right: calc(5vw + 33px);
}

.gtpbtn p {
  line-height: 10vh;
  text-align: center;
  vertical-align: middle;
  display: inline;
  margin-right: 3vh;
  -webkit-text-stroke: 0px rgb(22, 22, 22, 0);
  text-decoration: none;
  color: #eee;
  -webkit-text-stroke: 0;
  background-color: rgba(0, 0, 0, 0);
}

.gtpbtn:hover p {
  font-weight: 300;
}

.gtpbtn .verso-arrow-right {
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  width: 10vh;
  height: 10vh;
  max-width: 40px;
  min-width: 35px;
  padding-top: 2vh;
  margin-left: calc(-4vh + 20px);
  transform: rotate(90deg);
  display: inline;
  bottom: 2px;
}

.gtpbtn .verso-arrow-right .container {
  position: relative;
  width: 10vh;
  max-width: 40px;
  min-width: 35px;
  height: 10vh;
  max-height: 40px;
  min-height: 35px;
}

.gtpbtn .verso-arrow-right .container:hover {
  cursor: pointer;
}

.gtpbtn .verso-arrow-right .container .background {
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  height: 100%;
}

.gtpbtn .verso-arrow-right .container .line-1 {
  position: absolute;
  background-color: rgba(255, 255, 255, 1);
  width: 10%;
  height: 85%;
  top: 10%;
  right: 45%;
  transition: 0.2s;
}

.gtpbtn:hover .verso-arrow-right .container .line-1 {
  height: 55%;
}

.gtpbtn .verso-arrow-right .container .line-2 {
  position: absolute;
  background-color: rgba(255, 255, 255, 1);
  width: 10%;
  height: 50%;
  top: 0%;
  right: 59.5%;
  transform: rotate(45deg);
  transition: 0.2s;
}

.gtpbtn .verso-arrow-right .container .line-3 {
  position: absolute;
  background-color: rgba(255, 255, 255, 1);
  width: 10%;
  height: 50%;
  top: 0%;
  right: 30.5%;
  transform: rotate(-45deg);
  transition: 0.2s;
}

/* Mail button */

.mail-btn {
  position: absolute;
  bottom: calc(8vh + 23px);
  left: 50%;
  transform: translateX(-50%);
  background-color: #33414e;
  /* background-color: #28323b; */ /* ! */
  padding: 12px 20px;
  /* font-size: calc(16px + (26 - 16) * ((100vw - 320px) / 760)); */ /* ! */
  font-size: calc(18px + (22 - 18) * ((100vw - 320px) / 760));
  z-index: 999;
  white-space: nowrap;
}

.mail-btn p {
  color: #eee;
  text-align: center;
  font-weight: 300;
}

.mail-btn:hover p {
  font-weight: 300;
}

/* Bottom bar */

.social_languages-wrapper {
  position: absolute;
  bottom: 0vh;
  display: inline-block;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  width: 90vw;
  /* height: calc(8vh + 20px); */
  height: calc(5vh + 25px);
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0);
}

.languages {
  position: absolute;
  left: 5vw;
  width: 40vw;
  text-align: left;
  color: #eee;
  background-color: rgb(0, 0, 0, 0);
  right: 0;
  padding-top: calc(1vh + 2px);
  white-space: nowrap;
}

.languages-buttoms {
  font-size: 0;
}

.languages-buttoms a {
  position: relative;
  font-size: calc(19px + (22 - 19) * ((100vw - 320px) / 760));
  color: #eee;
  font-weight: 500;
  text-decoration: none;
  background-color: rgb(0, 0, 0, 0);
  margin-right: calc(1px + 1vh);
  cursor: context-menu;
}

.enpopup {
  position: relative;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: rgb(0, 0, 0, 0);
  height: 0vh;
}

.enpopup a {
  font-weight: 300;
  cursor: pointer;
}

.enpopup a:hover {
  font-weight: 500;
}

.social-media-bar {
  position: absolute;
  right: 5vw;
  width: 40vw;
  text-align: right;
  padding-top: calc(1vh + 5px);
  color: #eee;
  background-color: rgb(0, 0, 0, 0);
  font-weight: 300;
  text-align: right;
  white-space: nowrap;
}

.social-media-buttoms a {
  position: relative;
  padding: 0vw 0vw;
  color: #eee;
  text-decoration: none;
  margin-left: calc(10px + 3vh);
  background-color: rgb(0, 0, 0, 0);
}
.social-media-buttoms a i {
  font-size: calc(20px + (22 - 20) * ((100vw - 320px) / 760));
}

.social-media-buttoms i {
  font-size: calc(18px + (22 - 18) * ((100vw - 320px) / 760));
}

/* Hamburger menu */

#hamburger-menu {
  position: fixed;
  top: -100vh;
  left: 0vw;
  height: 100vh;
  width: 100vw;
  background-color: #28323b;
  overflow: hidden;
  z-index: 99999999;
}

#hamburger-menu.hamburger-menu-show {
  top: 0vh;
}

#hamburger-menu-show,
#hamburger-menu-close {
  color: black;
  background-color: white;
  border: none;
  display: block;
}

.hamburger-menu a {
  position: relative;
  display: inline-block;
  font-weight: 300;
  font-size: calc(24px + (26 - 24) * ((100vw - 320px) / 760));
  -webkit-text-stroke: 0px rgb(22, 22, 22, 0);
  text-decoration: none;
  color: #eee;
  -webkit-text-stroke: 0;
  margin-left: 10vw;
}
.hamburger-menu a.active {
  font-weight: 500;
}

.hamburger-menu-bg {
  margin-top: 12vh;
}

.hamburger-menu-bg li {
  height: 20vh;
  background-color: rgba(0, 0, 0, 0);
}

.hamburger-menu-bg li a {
  font-weight: 300;
  top: 30%;
  background-color: rgba(0, 0, 0, 0);
}

.hamburger-menu-bg li a:hover {
  font-weight: 500;
}

.hamburger-menu-bg li {
  cursor: pointer;
  bottom: 0;
}

/* Topnav */

.topnav-menu {
  position: absolute;
  right: 10vw;
  margin-top: 4vh;
  height: 10vh;
  text-align: right;
  line-height: 10vh;
  color: #eee;
  background-color: rgba(0, 0, 0, 0);
  display: none;
}
.topnav-buttoms {
  font-size: 0;
  overflow: hidden;
}

.topnav-buttoms a {
  text-align: right;
  padding-left: 3vw;
  font-weight: 300;
  font-size: calc(18px + (22 - 18) * ((100vw - 320px) / 760));
  color: #eee;
  text-decoration: none;
  z-index: 99999999;
  cursor: pointer;
}

@media (min-width: 1024px) {
  .topnav-menu {
    display: flex;
  }
}
/* X */
.verso-close {
  position: absolute;
  width: 10vh;
  max-width: 40px;
  min-width: 35px;
  height: 10vh;
  margin-top: calc(3vh + 1px);
  right: 10%;
  background-color: rgba(0, 0, 0, 0);
  z-index: 9999;
}

.verso-close .container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 10vh;
  max-width: 40px;
  min-width: 35px;
  height: 10vh;
  max-height: 40px;
  min-height: 35px;
}

.verso-close .container:hover {
  cursor: pointer;
}

.verso-close .container .background {
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  height: 100%;
}

.verso-close .container .part-1 {
  position: absolute;
  background-color: rgba(255, 255, 255, 1);
  width: 90%;
  height: 10%;
  top: 45%;
  right: 5%;
  transform: rotate(45deg);
  transition: 0.2s;
}

.verso-close .container:hover .part-1 {
  transform: rotate(0deg);
}

.verso-close .container .part-2 {
  position: absolute;
  background-color: rgba(255, 255, 255, 1);
  width: 90%;
  height: 10%;
  top: 45%;
  right: 5%;
  transform: rotate(-45deg);
  transition: 0.2s;
}

.verso-close .container:hover .part-2 {
  transform: rotate(0deg);
}

/* Footer info */

.about_us-info {
  width: 90%;
  margin-top: 5%;
  margin-left: 5%;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  /* background-color: rgba(0, 0, 0, 1); */
  font-size: calc(14px + (18 - 14) * ((100vw - 320px) / 760));
  font-weight: 300;
}

.about_us-info a:nth-of-type(1) {
  display: inline-block;
  margin-bottom: 5%;
  margin-top: 2%;
}

.about_us-info a {
  margin: 10%;
  margin-left: 5%;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  font-weight: 300;
}

.about_us-info span {
  display: inline-block;
  width: 100vw;
  font-weight: bold;
  margin-top: 5%;
  margin-left: 0%;
  text-align: left;
  margin-bottom: 5%;
}

.about_us-info p {
  color: rgba(255, 255, 255, 0.8);
  text-indent: 0;
  margin: 0;
}

.about_us p,
.about_us-info p {
  padding: 5%;
  padding-left: 0%;
  padding-bottom: 0;
  font-size: calc(14px + (18 - 14) * ((100vw - 320px) / 760));
  color: rgba(255, 255, 255, 0.8);
  text-indent: 5vw;
  font-weight: 300;
}
.about_us-info p {
  color: rgba(255, 255, 255, 0.8);
  text-indent: 0;
  margin: 0;
}

/* Footer */

footer {
  width: 100vw;
  margin-top: 10vh;
  margin-bottom: 5vh;
  /* padding: 10%; */
}

footer p {
  text-align: center;
  font-size: calc(14px + (18 - 14) * ((100vw - 320px) / 760));
  color: rgba(255, 255, 255, 0.8);
}

/* Arrow-up */

.verso-arrow-up {
  position: absolute;
  width: 10vh;
  max-width: 40px;
  min-width: 35px;
  right: 7%;
  margin-top: 4%;
}

.verso-arrow-up .container {
  position: relative;
  width: 10vh;
  max-width: 40px;
  min-width: 35px;
  height: 10vh;
  max-height: 40px;
  min-height: 35px;
}

.verso-arrow-up .container:hover {
  cursor: pointer;
}

.verso-arrow-up .container .background {
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  height: 100%;
}

.verso-arrow-up .container .line-1 {
  position: absolute;
  background-color: rgba(255, 255, 255, 1);
  width: 10%;
  height: 85%;
  top: 10%;
  right: 45%;
  transition: 0.2s;
}

.verso-arrow-up .container:hover .line-1 {
  height: 55%;
}

.verso-arrow-up .container .line-2 {
  position: absolute;
  background-color: rgba(255, 255, 255, 1);
  width: 10%;
  height: 50%;
  top: 0%;
  right: 59.5%;
  transform: rotate(45deg);
  transition: 0.2s;
}

.verso-arrow-up .container .line-3 {
  position: absolute;
  background-color: rgba(255, 255, 255, 1);
  width: 10%;
  height: 50%;
  top: 0%;
  right: 30.5%;
  transform: rotate(-45deg);
  transition: 0.2s;
}
