/* General */
:root {
  --base-width: none;
  --colour-white: rgba(255, 255, 255, 1);
  --colour-grey: rgba(155, 155, 155, 1);
  --colour-grey-c: rgb(48, 48, 48);
  --colour-grey-d: rgb(63, 63, 63);
  --colour-black: rgba(0, 0, 0, 1);
  --colour-blue-a: rgba(40, 50, 59, 1);
  --colour-blue-b: rgba(51, 65, 78, 1);
  --colour-blue-c: rgba(97, 121, 143, 1);
  --colour-blue-d: rgb(54, 77, 97);
  --colour-white-t030: rgba(255, 255, 255, 0.3);
  --colour-black-t030: rgba(0, 0, 0, 0.3);
  --colour-black-t050: rgba(0, 0, 0, 0.5);
  --colour-black-t090: rgba(0, 0, 0, 0.9);
  --font-size-1: calc(16px + (26 - 16) * ((100vw - 320px) / 760));
  --font-size-2: calc(18px + (22 - 18) * ((100vw - 320px) / 760));
  --font-size-3: calc(19px + (22 - 19) * ((100vw - 320px) / 760));
  --font-size-4: calc(20px + (22 - 20) * ((100vw - 320px) / 760));
  --font-size-5: calc(24px + (26 - 24) * ((100vw - 320px) / 760));
  --font-size-6: calc(14px + (18 - 14) * ((100vw - 320px) / 760));
  --font-size-7: calc(14px + (18 - 14) * ((100vw - 320px) / 760));
  --font-size-8: calc(20px + (18 - 20) * ((100vw - 320px) / 760));
}
::-webkit-scrollbar {
  display: none;
}
.not-scroll-body::-webkit-scrollbar {
  display: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
  font-family: "Roboto", sans-serif;
  color: rgba(0, 0, 0, 1);
  font-size: 10px;
}

/* Body */
body {
  width: 100vw;
  max-height: 100vh;
  overflow: hidden;
  background: #333;
  color: #eee;
  font-family: "Roboto", sans-serif;
  -webkit-tap-highlight-color: transparent;
  cursor: default;
}

.cursor {
  position: absolute;
  background: rgb(0, 0, 0, 0);
  border: 3px solid white;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transition: 0.2s transform, 0.1s border;
  transform: scale(1);
  margin-left: -8px;
  margin-top: -8px;
  user-select: none;
  pointer-events: none;
  z-index: 9999;
}

.cursor::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  opacity: 0;
}
.cursor.active {
  border: 2px solid white;
  transform: scale(0.3);
  background: rgb(255, 255, 255, 1);
}
.cursor.novisible,
.cursor-follower.novisible {
  opacity: 0;
}

.cursor-follower {
  position: absolute;
  background: var(--colour-black-t050);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  z-index: 9995;
  user-select: none;
  pointer-events: none;
  transform: scale(1);
}
.cursor-follower.little {
  transform: scale(0);
  transition: 0.5s transform;
}
.cursor-follower.active {
  transform: scale(2);
  transition: 0.5s transform;
}
.btn_follower.active {
  transform: scale(0);
  transition: 0.5s transform;
}
.cookies-info {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 25vh;
  min-height: 240px;
  font-size: calc(14px + (16 - 14) * ((100vw - 320px) / 760));
  font-weight: 300;
  background-color: rgb(0, 0, 0);
  z-index: 9997;
  padding: 0 15vw;
  /* clip-path: polygon(0 2.5vw, 100% 0, 100% 100%, 0 100%); */ /* ! */
}
@media (orientation: portrait) {
  .cookies-info {
    padding: 0 10vw;
  }
}
.cookies-text {
  position: relative;
  top: 52%;
  transform: translateY(-50%);
}
.cookies-info p {
  position: relative;
  text-indent: 5vw;
  line-height: 1.3;
  padding-top: calc(1vh + 12px);
}
@media (min-width: 1024px) {
  .cookies-info {
    text-indent: 3vw;
  }
}
.cookies-info a {
  text-decoration: none;
  cursor: default;
  color: var(--colour-blue-c);
  font-weight: 500;
}
.cookies-info a:hover {
  text-decoration: underline;
}

/* Noise */
.bg {
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200vw;
  height: 200vh;
  background: transparent url("../content/noise-transparent.png") repeat 0 0;
  background-repeat: repeat;
  animation: bg-animation 0.2s infinite;
  opacity: 1;
  visibility: visible;
}
@keyframes bg-animation {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -5%);
  }
  20% {
    transform: translate(-10%, 5%);
  }
  30% {
    transform: translate(5%, -10%);
  }
  40% {
    transform: translate(-5%, 15%);
  }
  50% {
    transform: translate(-10%, 5%);
  }
  60% {
    transform: translate(15%, 0);
  }
  70% {
    transform: translate(0, 10%);
  }
  80% {
    transform: translate(-15%, 0);
  }
  90% {
    transform: translate(10%, 5%);
  }
  100% {
    transform: translate(5%, 0);
  }
}
video {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 100vh;
  min-width: 100vw;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  animation: videoAnimation 1.5s ease-in-out;
}
.displayNone {
  display: none;
}
.displayBlock {
  display: block;
}
@keyframes videoAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.noise {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: auto;
  pointer-events: none;
  opacity: 0.05;
}
#c {
  display: block;
  width: 100vw;
  height: 100vh;
  position: absolute;
}
.top-nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 4vh;
  width: 80vw;
  height: 10vh;
  background-color: rgba(0, 0, 0, 0);
}

/* Logo */
.brand-name {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: calc(22px + (28 - 22) * ((100vw - 320px) / 760));
  z-index: 9996;
}
.brand-name a {
  cursor: pointer;
}
.brand-name img {
  height: 100%;
  cursor: pointer;
}

/* Hamburger */
.verso-hamburger {
  position: absolute;
  width: 10vh;
  max-width: 40px;
  min-width: 35px;
  height: 10vh;
  margin-top: calc(4vh + 8px);
  right: 10%;
}
@media (min-width: 1024px) {
  .verso-hamburger {
    display: none;
  }
}
.verso-hamburger .container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 10vh;
  max-width: 40px;
  min-width: 35px;
  height: 10vh;
  max-height: 40px;
  min-height: 35px;
}
.verso-hamburger .container:hover {
  cursor: default;
}
.verso-hamburger .container .background {
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  height: 100%;
}
.verso-hamburger .container .bar-1 {
  position: absolute;
  background-color: rgba(255, 255, 255, 1);
  width: 90%;
  height: 10%;
  top: 5%;
  right: 5%;
  transition: 0.2s;
}
.verso-hamburger .container .bar-2 {
  position: absolute;
  background-color: rgba(255, 255, 255, 1);
  width: 50%;
  height: 10%;
  top: 30%;
  right: 5%;
  transition: 0.2s;
}
.verso-hamburger .container:hover .bar-2 {
  width: 90%;
}
.hamburger i {
  position: relative;
  cursor: default;
}

/* Slogan */
.slogan {
  position: absolute;
  width: 80vw;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 17vh;
  cursor: default;
  font-size: calc(18px + (22 - 18) * ((100vw - 320px) / 760));
  font-weight: 300;
  text-align: left;
  background-color: rgba(0, 0, 0, 0);
  color: #eee;
  white-space: nowrap;
  z-index: 9996;
}
.forwho {
  position: absolute;
  right: auto;
  left: 0;
  margin: auto;
  top: calc(24px + (20 - 12) * ((100vw - 320px) / 760));
  text-align: left;
  background-color: rgba(0, 0, 0, 0);
  font-weight: 500;
  letter-spacing: 1px;
  z-index: 9996;
}
.typewriter {
  color: #eee;
  text-decoration: none;
  cursor: default;
}

@media (min-width: 1024px) {
  .slogan {
    margin-top: calc(38vh - 20px);
    font-size: calc(16px + (26 - 16) * ((100vw - 320px) / 760));
  }
  .forwho {
    top: calc(26px + (28 - 16) * ((100vw - 320px) / 760));
  }
}

/* Projekty button */
.gtpbtn-link {
  cursor: pointer;
}
.gtpbtn {
  position: absolute;
  height: 10vh;
  font-size: calc(18px + (22 - 18) * ((100vw - 320px) / 760));
  font-weight: 300;
  background-color: rgba(0, 0, 0, 0);
  text-align: right;
  bottom: calc(7vh + 80px);
  right: calc(5vw + 33px);
  z-index: 9996;
}
.gtpbtn p {
  line-height: 10vh;
  text-align: center;
  vertical-align: middle;
  display: inline;
  margin-right: 3vh;
  -webkit-text-stroke: 0px rgb(22, 22, 22, 0);
  text-decoration: none;
  color: #eee;
  transition: opacity 0.3s cubic-bezier(0.51, 0.92, 0.24, 1);
  opacity: 0.7;
  -webkit-text-stroke: 0;
  background-color: rgba(0, 0, 0, 0);
}
.gtpbtn:hover p {
  font-weight: 300;
  opacity: 1;
}
.gtpbtn .verso-arrow-right {
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  width: 10vh;
  height: 10vh;
  max-width: 40px;
  min-width: 35px;
  padding-top: 2vh;
  margin-left: calc(-4vh + 20px);
  transform: rotate(90deg);
  display: inline;
  bottom: 2px;
}
.gtpbtn .verso-arrow-right .container {
  position: relative;
  width: 10vh;
  max-width: 40px;
  min-width: 35px;
  height: 10vh;
  max-height: 40px;
  min-height: 35px;
}
.gtpbtn .verso-arrow-right .container:hover {
  cursor: default;
}
.gtpbtn .verso-arrow-right .container .background {
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  height: 100%;
}
.gtpbtn .verso-arrow-right .container .line-1 {
  position: absolute;
  background-color: rgba(255, 255, 255, 1);
  width: 10%;
  height: 85%;
  top: 10%;
  right: 45%;
  transition: 0.2s;
}
.gtpbtn:hover .verso-arrow-right .container .line-1 {
  height: 55%;
}
.gtpbtn .verso-arrow-right .container .line-2 {
  position: absolute;
  background-color: rgba(255, 255, 255, 1);
  width: 10%;
  height: 50%;
  top: 0%;
  right: 59.5%;
  transform: rotate(45deg);
  transition: 0.2s;
}
.gtpbtn .verso-arrow-right .container .line-3 {
  position: absolute;
  background-color: rgba(255, 255, 255, 1);
  width: 10%;
  height: 50%;
  top: 0%;
  right: 30.5%;
  transform: rotate(-45deg);
  transition: 0.2s;
}

/* Button PosnAwr (index.html) */
.btn-posnawr-indx {
  text-align: center;
  text-decoration: none;
  font-size: calc(18px + (22 - 18) * ((100vw - 320px) / 760));
  left: 50%;
  transform: translateX(-50%);
  bottom: calc(7vh + 23px);
  white-space: nowrap;
  z-index: 9996;
  padding: 12px 20px;
  position: absolute;
  background-color: rgb(8, 8, 8);
  color: #eee;
  overflow: hidden;
  font-weight: 300;
  -webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.btn-posnawr-indx span {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: rgb(41, 41, 41);
  -webkit-transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: -1;
}

.btn-posnawr-indx:hover {
  color: #eee;
}
.btn-posnawr-indx:hover span {
  width: 225%;
  height: 562.5px;
}
.btn-posnawr-indx:active {
  background-color: rgb(41, 41, 41);
  font-size: calc(16px + (22 - 18) * ((100vw - 320px) / 760));
}

/* Bottom bar */
.social_languages-wrapper {
  position: absolute;
  bottom: 2vh;
  display: inline-block;
  padding-top: 1vh;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  width: 90vw;
  height: calc(2vh + 25px);
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0);
  z-index: 9996;
}
.languages {
  position: absolute;
  left: 5vw;
  width: 40vw;
  text-align: left;
  color: #eee;
  background-color: rgb(0, 0, 0, 0);
  right: 0;
  padding-top: calc(0vh + 2px);

  white-space: nowrap;
}
.languages-buttoms {
  font-size: 0;
}
.languages-buttoms a {
  position: relative;
  font-size: calc(19px + (22 - 19) * ((100vw - 320px) / 760));
  color: #eee;
  font-weight: 500;
  text-decoration: none;
  background-color: rgb(0, 0, 0, 0);
  margin-right: calc(1px + 1vh);
  cursor: pointer;
}
.enpopup {
  position: relative;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: rgb(0, 0, 0, 0);
  height: 0vh;
}
.enpopup a {
  font-weight: 300;
  cursor: pointer;
}
.enpopup a:hover {
  font-weight: 500;
}
.social-media-bar {
  position: absolute;
  right: 5vw;
  width: 40vw;
  text-align: right;
  padding-top: calc(0vh + 2px);
  color: #eee;
  background-color: rgb(0, 0, 0, 0);
  font-weight: 300;
  text-align: right;
  white-space: nowrap;
}
.social-media-buttoms a {
  position: relative;
  padding: 0vw 0vw;
  color: #eee;
  text-decoration: none;
  margin-left: calc(10px + 3vh);
  background-color: rgb(0, 0, 0, 0);
  cursor: pointer;
  z-index: 9996;
}
.social-media-buttoms a i {
  font-size: calc(20px + (22 - 20) * ((100vw - 320px) / 760));
}
.social-media-buttoms i {
  font-size: calc(18px + (22 - 18) * ((100vw - 320px) / 760));
}
@media (min-width: 1023px) and (min-height: 680px) {
  .social_languages-wrapper {
    bottom: 6vh;
    padding-top: 2vh;
  }
  .btn-posnawr-indx {
    bottom: calc(8.5vh - 27px);
    left: 10vw;
    transform: translateX(0%);
    bottom: auto;
    top: 50vh;
  }
  .btn-posnawr-indx:active {
    left: calc(10vw + 10px);
  }
  .gtpbtn {
    bottom: calc(5vh + 80px);
  }
}

/* Hamburger menu */
#hamburger-menu {
  position: fixed;
  top: -100vh;
  left: 0vw;
  height: 100vh;
  width: 100vw;
  background-color: #28323b;
  overflow: hidden;
  z-index: 99999999999999999999999999999999;
}
#hamburger-menu.hamburger-menu-show {
  top: 0vh;
}
#hamburger-menu-show,
#hamburger-menu-close {
  color: black;
  background-color: white;
  border: none;
  display: block;
}
.hamburger-menu a {
  position: relative;
  display: inline-block;
  font-weight: 300;
  font-size: calc(24px + (26 - 24) * ((100vw - 320px) / 760));
  -webkit-text-stroke: 0px rgb(22, 22, 22, 0);
  text-decoration: none;
  color: #eee;
  -webkit-text-stroke: 0;
  margin-left: 10vw;
}
.hamburger-menu a.active {
  font-weight: 500;
}
.hamburger-menu-bg {
  margin-top: 12vh;
  z-index: 9999999999;
}
.hamburger-menu-bg li {
  height: 20vh;
  background-color: rgba(0, 0, 0, 0);
}
.hamburger-menu-bg li a {
  font-weight: 300;
  top: 30%;
  background-color: rgba(0, 0, 0, 0);
}
.hamburger-menu-bg li a:hover {
  font-weight: 500;
}

/* Animacja */
.hamburger-menu-bg li a.home,
.hamburger-menu-bg li a.projekty,
.hamburger-menu-bg li a.pracownia,
.hamburger-menu-bg li a.kontakt {
  position: relative;
  left: -100vw;
  transition: 0.4s ease-out;
}
.hamburger-menu-bg li a.home.left,
.hamburger-menu-bg li a.projekty.left,
.hamburger-menu-bg li a.pracownia.left,
.hamburger-menu-bg li a.kontakt.left {
  left: 0;
  animation: opacityAnime 0.4s ease-out;
}
@keyframes opacityAnime {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.hamburger-menu-bg li {
  cursor: default;
  bottom: 0;
}

/* TopNav */
.topnav-menu {
  position: absolute;
  right: 10vw;
  margin-top: 4vh;
  height: 10vh;
  text-align: right;
  line-height: 10vh;
  color: #eee;
  background-color: rgba(0, 0, 0, 0);
  display: none;
}
.topnav-buttoms {
  overflow: hidden;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 1em;
}
.topnav-buttoms a {
  position: relative;
  margin-left: 3vw;
  font-weight: 300;
  font-size: calc(18px + (22 - 18) * ((100vw - 320px) / 760));
  color: #eee;
  opacity: 0.7;
  transition: opacity 0.3s cubic-bezier(0.51, 0.92, 0.24, 1);
  text-decoration: none;
  z-index: 99999999;
  cursor: pointer;
  overflow-x: hidden;
}
.topnav-buttoms a::after {
  --scale: 0;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 120%;
  height: 3px;
  background: #eee;
  transform: scaleX(var(--scale));
  transform-origin: var(--x) 50%;
  transition: transform 0.5s cubic-bezier(0.51, 0.92, 0.24, 1);
  overflow-x: hidden;
}
.topnav-buttoms a:hover {
  opacity: 1;
}
.topnav-buttoms a:hover::after {
  --scale: 1;
}
@media (min-width: 1024px) {
  .topnav-menu {
    display: grid;
  }
}

/* X */
.verso-close {
  position: absolute;
  width: 10vh;
  max-width: 40px;
  min-width: 35px;
  height: 10vh;
  margin-top: calc(3vh + 1px);
  right: 10%;
  background-color: rgba(0, 0, 0, 0);
  z-index: 9999;
}
.verso-close .container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 10vh;
  max-width: 40px;
  min-width: 35px;
  height: 10vh;
  max-height: 40px;
  min-height: 35px;
}
.verso-close .container:hover {
  cursor: pointer;
}
.verso-close .container .background {
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  height: 100%;
}
.verso-close .container .part-1 {
  position: absolute;
  background-color: rgba(255, 255, 255, 1);
  width: 90%;
  height: 10%;
  top: 45%;
  right: 5%;
  transform: rotate(45deg);
  transition: 0.2s;
}
.verso-close .container:hover .part-1 {
  transform: rotate(0deg);
}
.verso-close .container .part-2 {
  position: absolute;
  background-color: rgba(255, 255, 255, 1);
  width: 90%;
  height: 10%;
  top: 45%;
  right: 5%;
  transform: rotate(-45deg);
  transition: 0.2s;
}
.verso-close .container:hover .part-2 {
  transform: rotate(0deg);
}
.cookies-info {
  height: 30vh;
}
.cookies-close {
  position: absolute;
  width: 10vh;
  max-width: 40px;
  min-width: 35px;
  height: 10vh;
  right: 10%;
  background-color: rgba(0, 0, 0, 0);
  z-index: 9999;
}
.cookies-close .container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 10vh;
  max-width: 40px;
  min-width: 35px;
  height: 10vh;
  max-height: 40px;
  min-height: 35px;
}
.cookies-close .container:hover {
  cursor: default;
}
.cookies-close .container .background {
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  height: 100%;
}
.cookies-close .container .part-1 {
  position: absolute;
  background-color: rgba(255, 255, 255, 1);
  width: 90%;
  height: 10%;
  top: 45%;
  right: 5%;
  transform: rotate(45deg);
  transition: 0.2s;
}
.cookies-close .container:hover .part-1 {
  transform: rotate(0deg);
}
.cookies-close .container .part-2 {
  position: absolute;
  background-color: rgba(255, 255, 255, 1);
  width: 90%;
  height: 10%;
  top: 45%;
  right: 5%;
  transform: rotate(-45deg);
  transition: 0.2s;
}
.cookies-close .container:hover .part-2 {
  transform: rotate(0deg);
}
.cookies-text {
  position: relative;
  padding: 5%;
}
.cookies-text span {
  font-weight: 500;
  font-size: calc(16px + (18 - 14) * ((100vw - 320px) / 760));
}

.importantxd {
  position: fixed;
  font-weight: 300;
  top: 1000vh;
  z-index: -100;
}
.about_us-info a:hover {
  color: #eee;
}
